footer {
    // box-shadow: 0em 0em 0.5em 0.3em rgba(0, 0, 0, 0.2);
    margin-top: 3em;
    height: 10vh;
    background-color: #a4cff5;
    display: flex;
    width: 100%;
     display: flex;
    justify-self:  center;
    align-self: baseline;
    justify-content: center;
     align-items: center;
   

}

.footer-text{
    display: flex;
    justify-self:  center;
    align-self: center;
    justify-content: center;

}